#about-container{
    margin: 4em 4em 10em 4em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}


.couple-image img{
    width: 100%;
    border-radius: 10px;
}


.story{
    padding: 10px 40px;
    background-color: #13AC81;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
}
.story h2{
    font-size: 3rem;
    color: white;
    margin-right: 20px;
}
.story img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}



.about-details-container h1 {
    font-size: 2.5rem;
    margin: 20px 0;
}
.about-details-container p{
    font-size: 1.5rem;
}


/* details on about me */
article{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(250, 253, 255);
    padding: 50px;
}

.information-container{
    border: 1px solid white;
    border-radius: 3px;
}

.information-container h1{
    padding: 20px;
    border-bottom: 1px solid;
}

.information-item{
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: rgb(250, 253, 255);
}
.information-item:nth-child(odd){
    background-color: rgb(253, 246, 246);
}
.information-item h3{
    color: #13AC81;
    text-align: left;
    padding-left: 20px;
}
.information-item p{
    color: #13AC81;
    text-align: left;
    padding-left: 100px;
}
