#about-container {
    margin: 4em 4em 4em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}


.couple-image img {
    width: 100%;
    border-radius: 10px;
}


.story {
    padding: 10px 40px;
    background-color: #13AC81;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
}

.story h2 {
    font-size: 3rem;
    color: white;
    margin-right: 20px;
}

.story img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.about-details-container h1 {
    font-size: 2.5rem;
    margin: 20px 0;
}

.about-details-container p {
    font-size: 1.3rem;
    color: gray;
}


/* details on about me */
article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    background-color: rgb(250, 253, 255);
    padding: 50px;
    margin-bottom: 7em;
}

.information-container {
    border: 1px solid rgb(53, 52, 52);
    border-radius: 3px;
}

.information-container h1 {
    padding: 20px;
    border-bottom: 1px solid;
}

.information-item {
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: rgb(250, 253, 255);
}

.information-item:nth-child(odd) {
    background-color: rgb(253, 246, 246);
}

.information-item h3 {
    color: #13AC81;
    text-align: left;
    padding-left: 20px;
}

.information-item p {
    color: #13AC81;
    text-align: left;
    padding-left: 100px;
}

/* Working history */
.work-experience {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.work-experience-item {
    border-right: 1px solid;
    border-bottom: 1px solid;
    text-align: center;
    padding: 20px 0 10px;
}

.work-experience-item:nth-child(2) {
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid;
}

.work-experience-item:nth-child(3) {
    border-right: 1px solid;
    border-bottom: 0;
}

.work-experience-item:nth-child(4) {
    border-right: 0;
    border-bottom: 0;
}

.work-experience-item h1 {
    font-size: 3rem;
    font-weight: bold;
}

.work-experience-item p {
    color: #13AC81;
    font-weight: bold;
}

/* Company I've worked */
.worked-company {
    margin: 90px 0;
}

.worked-company h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 40px;
}

.worked {
    display: flex;
    justify-content: space-evenly;
}

.worked img {
    width: 200px;
    height: 100px;
}

@media screen and (max-width: 980px) and (min-width: 200px) {
    #about-container {
        margin: 10px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        margin-bottom: 50px;
    }

    .couple-image img {
        width: 100%;
        border-radius: 10px;
    }

    .story {
        padding: 10px 40px;
        background-color: #13AC81;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }

    .story h2 {
        font-size: 1.5rem;
        color: white;
        margin-right: 20px;
    }

    .story img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .about-details-container h1 {
        text-align: center;
        font-size: 1.5rem;
        margin: 20px 0;
    }

    .about-details-container p {
        text-align: center;
        font-size: 1rem;
    }

    article {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        background-color: rgb(250, 253, 255);
        padding: 10px;
        margin: 0 0 3em 0;
    }

    .information-container {
        border: 1px solid rgb(53, 52, 52);
        border-radius: 3px;
    }

    .information-item {
        padding: 10px;
        display: flex;
        align-items: center;
        background-color: rgb(250, 253, 255);
    }

    .information-item:nth-child(odd) {
        background-color: hsl(36, 71%, 97%);
    }

    .information-item h3 {
        color: #13AC81;
        text-align: left;
        padding-left: 5px;
    }

    .information-item p {
        color: #276654;
        text-align: left;
        padding-left: 5em;
    }

    .work-experience-item {
        padding: 10px 0 15px;
    }

    .work-experience-item h1 {
        font-size: 2rem;
        font-weight: bold;
    }

    .worked-company {
        margin: 0 0 90px 0;
    }

    .worked-company h1 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1.4em;
    }

    .worked {
        display: flex;
        justify-content: center;
        /* flex-direction: column; */
        flex-wrap: wrap;
        gap: 20px;
    }

}