.contact-head {
    padding: 100px;
}

.contact-form {
    width: 550px;
    padding: 10px 40px;
    background-color: #13AC81;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.contact-form img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.contact-form h2 {
    font-size: 3rem;
    color: white;
    margin-left: 1em;
}

#contact-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact-service-container h2 {
    margin-left: 90px;
}

.contact-service-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.about-service-container{
    border-right: 1px solid rgb(240, 231, 231);
}
.contact-service {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px 70px;
}

.contact-service p {
    display: inline;
    margin: 10px;
    padding: 10px;
    font-size: 1rem;
    background-color: #f5f8fa;
    text-align: center;
    border: 1px solid rgb(202, 204, 206);
    border-radius: 30px;
    transition: background 2s;
}

.contact-service p:hover {
    border: 1px solid rgb(202, 204, 206);
    background-color: #13AC81;
    color: white;
}

.connected{
    margin-left: 90px;
}

.connected-link{
    display: flex;
}
.connected-link a{
    margin: 20px 15px 0 0;
    padding: 10px;
    text-decoration: none;
    color: black;
    background-color: #f5f8fa;
    border: 1px solid;
    border-radius: 50%;
    transition: background 1s;
}

.connected-link a:hover{
    background-color:#13AC81;
    color: white;
}

.project-start{
    margin: 30px 0 0 80px;
}
.project-start p{
    margin-top: 10px;
    font-size: 1.3rem;
}