.contact-head {
    padding: 40px;
}

.contact-form {
    width: 550px;
    padding: 10px 40px;
    background-color: #13AC81;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.contact-form img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.contact-form h2 {
    font-size: 3rem;
    color: white;
    margin-left: 1em;
}

#contact-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-bottom: 100px;
}

.contact-service-child {
    background-color: rgb(250, 250, 252);
    border-radius: 10px;
    margin-left: 40px;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.about-service-container {
    border-right: 1px solid rgb(240, 231, 231);
}

.contact-service {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-self: flex-start;
    margin-bottom: 30px;
}

.contact-service p {
    display: inline;
    margin: 10px 10px 10px 0;
    padding: 10px;
    font-size: 1rem;
    background-color: #f5f8fa;
    text-align: center;
    border: 1px solid rgb(202, 204, 206);
    border-radius: 30px;
    transition: background .5s;
}

.contact-service p:hover {
    border: 1px solid rgb(202, 204, 206);
    background-color: #13AC81;
    color: white;
}

.connected {
    margin-bottom: 40px;
}

.connected-link {
    display: flex;
}

.connected-link a {
    margin: 20px 15px 0 0;
    padding: 10px;
    text-decoration: none;
    color: black;
    background-color: #f5f8fa;
    border: 1px solid;
    border-radius: 50%;
    transition: background 1s;
}

.connected-link a:hover {
    background-color: #13AC81;
    color: white;
}


.project-start p {
    margin-top: 10px;
    font-size: 1.3rem;
}

/* Contact about me */
.contact-about-me {
    padding: 30px;
}

.about-me-contact {
    padding-left: 20px;
}

.about-me-title h2 {
    margin-bottom: 20px;
}

.about-me-title p {
    margin-bottom: 20px;
    font-size: 1.3rem;
}

.about-email {
    margin-bottom: 20px;
}

.about-email h3 {
    margin-bottom: 10px;
}

.about-email a {
    text-decoration: none;
    font-size: 1.2rem;
    color: gray;
}

.about-phone h3 {
    margin-bottom: 10px;
}

.about-phone a {
    text-decoration: none;
    font-size: 1.2rem;
    color: gray;
}

/* Form information */
.form-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}

.form-item {
    border: 2px solid gray;
    border-radius: 2px;
    padding: 10px;
    font-size: 1.2rem;
}

.form-item:hover {
    border: 2px solid #13AC81;
    border-radius: 2px;
}

.form-service-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}

.form-service-item {
    background-color: white;
    border: 2px solid rgb(224, 223, 223);
    border-radius: 5px;
    padding: 20px;
    line-height: 30px;
    text-align: center;
    transition: background 2s, border 1.5s, color 1.5s;
}

.form-service-item:hover {
    background-color: #81ccb7;
    border: 2px solid #13AC81;
    color: white;
}

.form-service-item i {
    color: #13AC81;
    font-size: 2rem;
}

.form-service-item p {
    font-size: 1.3rem;
}

textarea {
    border: 2px solid gray;
    color: black;
    border-radius: 3px;
    padding: 5px;
    width: 100%;
    height: 150px;
}

textarea:hover {
    border: 2px solid #13AC81;
}

input[type="submit"] {
    width: 100%;
    background-color: #13AC81;
    color: white;
    font-size: 1.2rem;
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 25px;
    transition: background-color 1.5s;
}

input[type="submit"]:hover {
    background-color: #535DA1;
}


@media screen and (max-width: 980px) and (min-width: 200px) {
    .contact-head {
        padding: 10px;
    }

    .contact-form {
        width: 100%;
        padding: 5px 20px;
        background-color: #13AC81;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }

    .contact-form img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .contact-form h2 {
        font-size: 2rem;
        color: white;
        margin-left: 1em;
    }

    #contact-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 50px;
        margin-bottom: 100px;
    }

    .contact-service-child {
        background-color: rgb(250, 250, 252);
        border-radius: 10px;
        margin-left: 0;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .about-service-container {
        border-right: 0;
    }

    .contact-service {
        display: grid;
        grid-template-columns: 1fr;
        justify-self: flex-start;
        margin-bottom: 30px;
    }

    .contact-service p {
        display: block;
        margin: 10px 10px 10px 0;
        padding: 10px;
        font-size: 1rem;
        background-color: #f5f8fa;
        text-align: center;
        border: 1px solid rgb(202, 204, 206);
        border-radius: 30px;
        transition: background 2s;
    }

    .contact-service p:hover {
        border: 1px solid rgb(202, 204, 206);
        background-color: #13AC81;
        color: white;
    }

    .connected {
        margin-bottom: 40px;
    }

    .connected-link {
        display: flex;
        justify-content: space-around;
    }

    .connected-link a {
        margin: 20px 15px 0 0;
        padding: 10px;
        text-decoration: none;
        color: black;
        background-color: #f5f8fa;
        border: 1px solid gray;
        border-radius: 50%;
        transition: background 1s;
    }

    .connected-link a:hover {
        background-color: #13AC81;
        color: white;
    }

    .project-start p {
        margin-top: 10px;
        font-size: 1.3rem;
    }

    /* Contact about me */
    .contact-about-me {
        padding: 10px;
    }

    .about-me-contact {
        padding-left: 0;
    }

    .about-me-title h2 {
        margin-bottom: 20px;
    }

    .about-me-title p {
        margin-bottom: 20px;
        font-size: 1.3rem;
    }

    .about-email {
        margin-bottom: 20px;
    }

    .about-email h3 {
        margin-bottom: 10px;
    }

    .about-email a {
        text-decoration: none;
        font-size: 1.2rem;
        color: gray;
    }

    .about-phone h3 {
        margin-bottom: 10px;
    }

    .about-phone a {
        text-decoration: none;
        font-size: 1.2rem;
        color: gray;
    }

    /* Contact about section finished here */
    /* form start under */
    .form-parent{
        margin: 0 10px;
    }
    .form-info {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 40px;
    }

    .form-item {
        border: 2px solid gray;
        border-radius: 5px;
        padding: 10px;
        font-size: 1.2rem;
        margin: 0 5px;
    }

    .form-service-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-bottom: 40px;
    }

    .form-service-item {
        background-color: white;
        border: 2px solid rgb(224, 223, 223);
        border-radius: 5px;
        padding: 20px;
        margin: 0 5px;
        line-height: 30px;
        text-align: center;
        transition: background 2s, border 1.5s, color 1.5s;
    }

    textarea {
        border: 2px solid gray;
        color: black;
        border-radius: 3px;
    }
}