* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

header{
    height: 60vh;
    background-image: linear-gradient(#535DA1, #14B789);
    position: relative;
}

nav {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 3em;
}

#check {
    display: none;
}

.toggle {
    font-size: 2rem;
    margin: 0 .8em;

    display: none;
}

.logo-text {
    font-size: 2.5rem;
    font-weight: bold;
    color: chocolate;
    padding-left: 10px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    margin-right: 1em;
}

nav ul li a:hover {
    color: green;
    padding-bottom: 5px;
    border-bottom: 3px solid green;
}

.call {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.fa-phone-volume {
    font-size: 1.5rem;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}

.call p {
    border: 2px solid white;
    border-radius: 30px;
    padding: 5px;
    margin-left: 10px;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}

.call p:hover {
    color: green;
    background-color: white;
}

/* Introduce style here */
