* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}


header {
    height: 70vh;
    background-color: #13ac81;
    position: relative;
}

nav {
    background-color: transparent;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 3em;
}

#check {
    display: none;
}

.toggle {
    font-size: 2rem;
    margin: 0 .8em;

    display: none;
}

.logo-text {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    padding-left: 10px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    margin-right: 1em;
}

nav ul li a:hover {
    color: green;
    padding-bottom: 5px;
    border-bottom: 3px solid green;
}

.call {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.fa-phone-volume {
    font-size: 1.5rem;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}

.call p {
    border: 2px solid white;
    border-radius: 30px;
    padding: 5px;
    margin-left: 10px;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}

.call p:hover {
    color: green;
    background-color: white;
}


/* Introduce style here */
.introduce-container {
    margin: 0 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.introduce-text {
    width: 100%;
}

.hello-image {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.hello-image img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.hello-image h2 {
    background-color: white;
    font-size: 2rem;
    padding: 10px 20px;
    border-radius: 35px;
}

.available h3 {
    display: inline-block;
    background-color: white;
    color: #14B789;
    font-size: 2rem;
    padding: 10px 20px;
    border-radius: 35px;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.available a {
    text-decoration: none;
    background-color: #535DA1;
    color: white;
    font-weight: 900;
    padding: 15px 35px;
    border-radius: 35px;
    transition: .3s;
}

.available a:hover {
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
    background-color: #14B789;
}
.banner-image{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.banner-image img{
    object-fit: contain;
    /* width: 100%;
    height: 100%; */
}


@media screen and (max-width: 980px) and (min-width: 200px) {
    * {
        margin: 0;
        padding: 0;
        border: 0;
        box-sizing: border-box;
    }

    body {
        overflow-x: hidden;
    }

    header {
        height: 100vh;
        background-color: #13ac81;
        position: relative;
    }

    nav {
        background-color: white;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 0;
    }

    .toggle {
        font-size: 2rem;
        margin: 0 10px 0 0;
        cursor: pointer;
        display: block;
        transform: all 2s;
    }

    .logo-text {
        font-size: 1.3rem;
        font-weight: bold;
        color: #13ac81;
        padding: 0;
    }

    nav ul {
        height: 100vh;
        width: 100%;
        background-color: #535DA1;
        position: fixed;
        top: 60px;
        left: -100%;
        text-align: center;
        align-items: center;
        padding-top: 100px;
        transform: .5s;
        z-index: 1;
    }

    nav ul li {
        display: block;
    }

    nav ul li a {
        text-decoration: none;
        color: white;
        font-size: 2.5rem;
        margin: 0;
        line-height: 2em;
    }

    #check:checked~ul {
        left: 0;
    }

    /* Toggle nevbar finished */

    .fa-phone-volume {
        font-size: 1.5rem;
        background-color: #14B789;
        color: white;
        padding: 10px;
        border-radius: 50%;
    }

    .call p {
        border: 2px solid #14B789;
        background-color: white;
        border-radius: 30px;
        padding: 5px;
        margin-left: 10px;
        color: #14B789;
        font-size: 1.5rem;
        font-weight: 700;
    }

    .call p:hover {
        color: white;
        background-color: #14B789;
    }

    /* Header part finished  */

    /* Introduce part start */
    .introduce-container {
        margin: 0 10px;
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
    }

    .introduce-text {
        margin: 50px 0 0;
        width: 100%;
    }

    .hello-image {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .hello-image img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    .hello-image h2 {
        background-color: white;
        padding: 10px 20px;
        border-radius: 60px;
    }

    .available h3 {
        font-size: 1.3rem;
        box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.1);
    }

    .banner-image img {
        object-fit: contain;
        width: 100%;
    }




}