* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

header {
    height: 70vh;
    background-image: linear-gradient(#707fdf, #14B789);
    position: relative;
}

nav {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 3em;
}

#check {
    display: none;
}

.toggle {
    font-size: 2rem;
    margin: 0 .8em;

    display: none;
}

.logo-text {
    font-size: 2.5rem;
    font-weight: bold;
    color: chocolate;
    padding-left: 10px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    margin-right: 1em;
}

nav ul li a:hover {
    color: green;
    padding-bottom: 5px;
    border-bottom: 3px solid green;
}

.call {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.fa-phone-volume {
    font-size: 1.5rem;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}

.call p {
    border: 2px solid white;
    border-radius: 30px;
    padding: 5px;
    margin-left: 10px;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}

.call p:hover {
    color: green;
    background-color: white;
}


/* Introduce style here */
.introduce-container {
    margin: 0 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.introduce-text {
    margin-top: 100px;
}

.hello-image {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.hello-image img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.hello-image h1 {
    background-color: white;
    padding: 10px 20px;
    border-radius: 40px;
}

.available h1 {
    display: inline;
    background-color: white;
    padding: 10px 20px;
    border-radius: 40px;
    color: #14B789;
}

.available a {
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
    background-color: #535DA1;
    padding: 10px 20px;
    border-radius: 40px;
    color: white;
    font-size: 1.4rem;
    font-weight: 800;
    transition: background-color 1s;
}

.available a:hover {
    background-color: #14B789;
    /* box-shadow: 0px 2px 30px #394944, 2px 3px 30px #14B789; */
}


.introduce-image img {
    width: 100%;
    margin: 50px 0 0 100px;
}