.service {
    padding: 100px;
}

.service-heading {
    padding: 10px 40px;
    background-color: #13AC81;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.service-heading img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.service-heading h2 {
    font-size: 3rem;
    color: white;
    margin-left: 20px;
}

/* Service item */
.service-container {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-single-item{
    background-color: white;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    border-radius: 10px;
}

.service-name-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.service-name-price button{
    background-color: #535da1;
    color: white;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 30px;
}

.service-text-discover p{
    margin: 20px 0 30px;
    font-size: 1.1rem;
    color: rgb(73, 71, 71);
}

.service-text-discover button{
    border: 2px solid gray;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 1.4rem;
}



@media screen and (max-width: 980px) and (min-width: 200px) {
    .service {
        padding: 10px;
    }

    .service-heading {
        padding: 10px 10px;
        background-color: #13AC81;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }

    .service-heading img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .service-heading h2 {
        font-size: 2.5rem;
        color: white;
        margin-left: 20px;
    }


    /* Service item */
    .service-container {
        margin: 30px 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }

    .service-item {
        background-color: aliceblue;
        border: 3px solid ab;
        border-radius: 10px;
        padding: 10px;
        /* position: relative; */
        box-shadow: 8px 8px 15px rgb(212, 211, 211), 8px 8px 15px rgb(212, 211, 211);
        transition: border .5s, shadow 1s;
    }

    .service-item:hover {
        border: 3px solid #13AC81;
    }

    .service-name {
        height: 3em;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid;
    }

    .service-name p {
        background-color: rgb(172, 111, 230);
        padding: 10px 30px;
        border-radius: 20px;
        font-weight: 900;
        color: white;
    }

    .service-item:hover .service-name p {
        background-color: #13AC81;
    }

    .service-details {
        text-align: center;
        padding-bottom: 30px;
    }

    .service-details p {
        font-size: 1.5rem;
        padding: 20px 0;
    }

    .service-details a {
        text-decoration: none;
        font-size: 1.5rem;
        color: gray;
        background-color: rgb(253, 244, 244);
        padding: 10px 20px;
        border: 1px solid;
        border-radius: 30px;
        margin-bottom: 30px;
    }

    .service-details a:hover {
        border: 0;
        color: white;
        background-color: #13AC81;
        box-shadow: 0 5px 30px rgb(204, 201, 201), 0px 3px 10px gray;
    }

    .service-photo {
        margin-top: 20px;
        text-align: center;
    }

}